{% extends 'base.html' %}

{% block content %}
<h1>Add/Edit Flashcard</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.category.label }}<br>
        {{ form.category() }}
    </p>
    <p>
        {{ form.dish.label }}<br>
        {{ form.dish(size=32) }}
        {% for error in form.dish.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.beverage.label }}<br>
        {{ form.beverage(size=32) }}
        {% for error in form.beverage.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.ingredients.label }}<br>
        {{ form.ingredients(rows=4, cols=40) }}
        {% for error in form.ingredients.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
